html{
    margin: 0; padding: 0; scroll-behavior: smooth;
    background-color: black;
}
body{
    background-color: black;
    text-align: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.earth{
  --d:300px;
  width: var(--d);
  height:var(--d);
  display:inline-block;
  margin: 5px;
  border-radius: 50%;
  box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
  background:
    url(map.jpg)
    0/auto 100%;
  animation: spin 4s linear infinite;
}

@keyframes spin{
  to{
    background-position:200% 0;
  }
}

nav{
    position: sticky;
    top: 0;
}
ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
}
li{
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
  section{
    height: 100vh;
    display: grid;
    background-color: black;
    place-items: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
  }

